.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
}

.custom-btn {
    margin: 1rem;
    /* adjust as needed */
}

.carousel img {
    opacity: 1;
    /*Added opacity for the image*/
}

.list-group-item span {
    background-color: blue;
    padding: 2px 6px;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.figure-caption img {
    width: 50%;

}